# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Donna\Desktop\pythonstuffs\discord_stuff\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.env
/.idea/
/venv/
/problem.png
/what_to_code.png
